<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Localizacoes de Fornecedores</span>
    <button mat-fab color="accent" routerLink="/localizacoes/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="localizacoes" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Cidade Column -->
  <ng-container matColumnDef="cidade">
    <th mat-header-cell *matHeaderCellDef> Cidade </th>
    <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
  </ng-container>

  <!-- Estado Column -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.estado}}</td>
  </ng-container>

  <!-- Fornecedor Column -->
  <ng-container matColumnDef="fornecedor">
    <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
    <td mat-cell *matCellDef="let element"> {{element.fornecedor.nome}} - {{element.fornecedor.cnpj}} - {{element.fornecedor.email}}</td>
  </ng-container>

  <!-- {{element.fornecedor.cnpj}} - {{element.fornecedor.email}} -->

  <!-- Acao Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> Acao </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button
              color="primary"
              routerLink="/localizacoes/edit/{{element.id}}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button
              color="warn"
              (click)="excluir(element)"
              >

        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

